#backgroundsanpham {
	background-color: rgba(212, 237, 218, 0.36) !important;
}

.textblack {
	color: black;
}

#imgbanner {
	height: 100px;
	width: 1000px;
}

.canhgiua {
	align-items: center;
}

#textkhuyenmai {
	width: 950px;
	color: orange;
}

#imagechitiet {
	width: 400px;
	height: 380px;
	margin-left: -15px;
}

.formchitiet {
	background-color: #faebd745;
}

a {
	text-decoration: none;
}

.footertt {
	font-size: 10px;
}

#minwidthchitiet {
	min-width: 1200px;
}

.icongiohang {
	position: absolute;
	font-size: 24px;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	background-color: #f05f40;
	margin-left: 3px;
	margin-top: -10px;
	color: white;
	text-align: center;
	line-height: 36px;
}

.formgiohang {
	text-align: center;
	color: #3f7882;
	font-size: 25px;
}

.formgiohang2 {
	/* text-align: center; */
	color: #3f7882;
	font-size: 25px;
}

#tensp {
	color: #3f7882;
}

#tablesp {
	font-size: 15px;
}

.hinhgiohang {
	height: 50px;
	width: 50px;
}

.footer {
	background-color: #81a6ad;
}

#tongtien {
	color: red;
}

.soluongcuagiohang {
	width: 100px;
}

#formdangnhap {
	width: 500px;
	color: #3f7882;
}

.cachdangnhap {
	margin-left: 40px;
}

#texttendangnhap {
	color: #dc3545 !important;
}

#thanhcong {
	font-size: 60px;
	margin-top: 128px;
}